# ignore all
*

# allow only these
!.gitignore
!requirements.txt
!README.md
!src/
!tests/
!fastapi/
!uvicorn[standard]/
!sqlalchemy/
!psycopg2-binary/
!pandas/
!python-dotenv/
!openai/

# BUT: even inside whitelisted dirs, ignore junk
src/__pycache__/
src/*.pyc
tests/__pycache__/
tests/*.pyc